<!DOCTYPE html>
<html>
<head>
  <title>Your Cart</title>
  <link rel="stylesheet" href="/styles/style.css" />
</head>
<body>
  <h1>Your Cart</h1>
     <a href="/admin/products">Go to Cart</a>
  <% if (cartItems.length === 0) { %>
    <p>No items in cart.</p>
  <% } else { %>
    <% cartItems.forEach(item => { 
         const product = item.productId;
         const discountAmount = (product.price * product.discount) / 100;
         const finalPrice = product.price - discountAmount;
    %>
      <div class="cart-item">
        <h3><%= product.name %></h3>
        <p>Description: <%= product.description %></p>
        <p>Price: ₹<%= product.price %></p>
        <p>Discount: <%= product.discount %>%</p>
        <p><strong>Final Price: ₹<%= finalPrice %></strong></p>

        <form method="POST" action="/admin/products/remove-from-cart/<%= product._id %>">
          <button type="submit">Remove</button>
        </form>

        <hr>
      </div>
    <% }) %>
  <% } %>
</body>
</html>
